POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
CLAMAV_PORT=
CONNECTIONSTRINGS__POSTGRESQL=
R2__ACCOUNTID=
R2__SERVICEURL=
R2__ACCESSKEYID=
R2__SECRETACCESSKEY=
R2__BUCKETNAME=
CLAMAV__HOST=
CLAMAV__PORT=
AUDIT__SIGNINGKEYBASE64=
AUDIT__SIGNINGKEYID=
FIREBASE__PROJECTID=
FIREBASE__PROJECTNUMBER=
FIREBASE__ALLOWEDAPPIDS__0=
API_UPSTREAM=
R2_CONNECT_SOURCE=
